/.bundle
/.env*
!/.env*.erb
!/log/.keep
/log/development.log
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/tmp/*
/tmp/pids/*
!/tmp/pids/
/tmp/storage/*
/public/assets
/config/master.key
/config/mongoid.yml
.env
.env.local
.env.production
